export("%>%")
export(analyse_item_bank)
export(cents)
export(classify_duration)
export(compare_item_banks)
export(compute.entropy)
export(create_ngram_item_bank)
export(create_item_bank)
export(deprefix_cols)
export(extract_audio_features)
export(get_all_ngrams)
export(get_last_char_of_string)
export(get_melody_features)
export(get_audio_feature_table)
export(get_melodic_feature_table)
export(get_ngrams_multiple_sizes)
export(hist_item_bank)
export(is_sci_notation)
export(list_item_bank_types)
export(list_official_item_banks)
export(midi_file_to_notes_and_durations)
export(midi_to_pitch_class)
export(midi_to_pitch_class_numeric)
export(midi_to_sci_notation)
export(pitch_class_to_midi_notes)
export(pitch_class_to_numeric_pitch_class)
export(produce_arrhythmic_durations)
export(produce_extra_melodic_features)
export(rel_to_abs_mel)
export(remove_last_char_of_string)
export(remove_redundancy)
export(save_item_bank)
export(sci_notation_to_midi)
export(segment_phrase)
export(set_item_bank_class)
export(store_item_bank_in_db)
export(str_mel_to_vector)
export(subset_item_bank)
export(vector_cents)
export(vector_cents_between_two_vectors)
importFrom(magrittr,"%>%")
importFrom("graphics", "boxplot")
importFrom("stats", "approx", "as.dist", "cor", "density", "dist",
           "end", "lm", "median", "na.exclude", "quantile", "start",
           "time", "var")
importFrom("utils", "combn", "read.table", "write.table")
